@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,800;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --font-color: #3a3a3a;
  --background-color: #e02c6d;
}
/* nav bar styles */
header {
  padding: 50px 120px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .nav-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--font-color);
}
nav ul {
  display: flex;
  gap: 35px;
  align-items: center;
}
nav li {
  list-style-type: none;
}
nav li a {
  text-decoration: none;
  color: var(--font-color);
  font-weight: 600;
}
/* header content styles */
.header-content-container {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 130px;
}
.header-image {
  background-image: url("../images/Circle\ design.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}
.header-content-container .header-content-title {
  color: var(--font-color);
  font-size: 3.25rem;
  font-weight: 700;
  margin-bottom: 0;
}
.header-content-container .header-content-description {
  color: var(--font-color);
  font-weight: 600;
  margin-bottom: 0;
  margin-top: 16px;
}
.primary-btn {
  margin-top: 16px;
  border-radius: 41px;
  background-color: var(--background-color);
  border: none;
  padding: 10px 25px;
  color: #fff;
  font-weight: 700;
}
.fa-solid {
  margin-left: 10px;
}
/* section */
section {
  margin: 70px 0;
  padding: 0 70px;
}
/* section */
/* sponsor section styles */
.sponsor {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
/* collection section styles */
.collection .collection-title {
  text-align: center;
  color: var(--font-color);
  font-size: 1.75rem;
  font-weight: 600;
  margin-bottom: 50px;
}
.collection-container {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}
.collection-container .card {
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
  padding: 20px;
}
.collection-container .card img {
  width: 100%;
}
.collection-container .card .title {
  color: #18191f;
  font-size: 1.75rem;
  font-weight: 500;
}
.collection-container .card .price {
  color: rgba(0, 0, 0, 0.87);
  font-size: 1.75rem;
  font-weight: 400;
}
.collection-container .card .info {
  color: #787885;
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 0.252px;
}
.collection .see-more {
  margin-top: 15px;
  text-align: right;
}
.collection .see-more a {
  color: var(--background-color);
  font-weight: 700;
  text-decoration: none;
}
/* featured section styles */
.featured {
  display: flex;
  gap: 100px;
  justify-content: space-between;
  /* align-items: center; */
}
.featured .featured-content .featured-title {
  color: #0a0826;
  font-size: 2.375rem;
  font-weight: 700;
  margin-bottom: 16px;
}
.featured .featured-content .featured-info {
  color: #6c6c6c;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 16px;
}
.featured-btn .secondary-btn {
  color: #fff;
  background-color: var(--background-color);
  border: none;
  padding: 10px 25px;
  font-weight: 700;
}
/* responsive design for mobile */
@media screen and (max-width: 576px) {
  header {
    padding: 20px 30px;
  }
  .header-content,
  .featured-content,
  .featured-btn {
    text-align: center;
  }
  nav,
  nav ul {
    flex-direction: column;
    gap: 10px;
  }
  .header-content-container,
  .featured {
    flex-direction: column-reverse;
  }

  .header-image{
    background-position: center;
  }
  .featured .featured-img img,
  .header-image img {
    width: 100%;
  }
  .header-content-container .header-content-title {
    font-size: 1.75rem;
  }
  .header-content-container .header-content-description {
    font-size: 0.875rem;
  }
  section {
    margin: 50px 0;
    padding: 5px 10px;
  }
  .sponsor {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
  }
  .collection-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
